.offer__container{
    grid-template-rows: max-content 224px;
    position: relative;
    padding: 4rem;
}

.offer__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;height: 100%;
    object-fit: cover;
    object-position: center;
}


.offer__data,.offer__img{
    position: relative;
}

.offer__data{
    text-align: center;
}

.offer__img{
    /* position: absolute; */
    min-width: initial;
    width: 400px;
    top: 2rem;
    right: -5.5rem;
}