.home{
    text-align: center;
    position: relative;
    width: 100vw;
    top: 72px;
    padding-bottom: 6rem;
}

.home .shape__big,
.home .shape__small{
    position: absolute;
}

.home .shape__big{
    left: -9rem;
    top: -4rem;
}

.home .shape__small{
    right: -10rem;
    bottom: 3rem;
}
.shape{
    background-color: hsla(219, 33%, 32%, .5);
    filter: blur(112px);
    border-radius: 50%;
}   

.shape__big{
    width: 400px;
    height: 400px;
}

.shape__small{
    max-width: 300px;
    max-height: 300px;
}

.title{
    color: hsl(219, 8%, 95%);
    font-size: 1.5rem;
    padding: 2rem 0 1rem 0;
  }
.home__img{
    width: 50%;
    margin: 4rem auto;
}

.feature__icon{
    color: hsl(219, 8%, 75%);
    margin-bottom: 1rem;
}

.normal__font{
    color: hsl(219, 8%, 95%);
    font-size: .938rem;
    font-weight: 600;
}

.smaller__font{
    font-size: .75rem
}

.description__font{
    font-size: .9rem;
}

.feature__div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
}

.start__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsl(158, 89%, 30%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}
.start__btn:before{
    content: "";
    border: 2px solid hsl(158, 98%, 43%);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    box-shadow: 0 0 12px hsl(158, 98%, 43%);
    transition: .3s;
    animation: button 3s infinite;
}

@keyframes button {
    0%{
        box-shadow: 0 0 12px hsl(158, 98%, 43%);
    }
    50%{
        box-shadow: 0 0 24px hsl(158, 98%, 43%);
    }
}

@media only screen and (min-width: 768px){
    .home__img{
        width: 30%;
    }
    .normal__font{
        font-size: 1rem;
    }
    
    .smaller__font{
        font-size: .813rem;
    }
    .title{
        font-size: 2.25rem;
        padding: 4rem 0 1rem 0;
      }
      .feature__div{
          width: 50%;
          margin: 0  auto 6rem auto;
      }
}