.logos__img{
    width: 40px;
    opacity: .4;
    transition: .3s;
}

.logos__container{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center; 
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.logos__img:hover{
    opacity: 1;
} 

@media only screen and (min-width: 768px){
    .logos__container{
        display: flex;
        column-gap: 6rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
}