.popular__container{
    padding: 4rem 0;
}
.popular__title {
    color: hsl(219, 8%, 95%);
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.popular__card{
    position: relative;
    width: 238px;
    background-color: hsl(219, 4%, 7%);
    padding: 2rem 1.5rem 1.5rem;
    margin: 2rem auto; 
    border-radius: 1rem;
    overflow: hidden;
}

.popular__img{
    width: 160px;
    margin: .75rem 0 1.25rem 1.5rem;
    transition: .3s;
}

.popular__card:hover .popular__img{
    transform: translateY(-.25rem);
}

.popular__feature{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.feature{
    margin: .5rem 1.5rem 0 0;
}

.shape__smaller{
    width: 180px;
    height: 180px;
    filter: blur(64px);
}

.popular__card .shape__smaller{
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
}

.popular__btn{
    position: absolute;
    border: none;
    outline: none;
    padding: .75rem 1rem;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
    background-color: hsl(210, 65%, 56%);
    color: hsl(219, 8%, 95%);
}

@media only screen and (min-width: 768px){
    .popular__container{
        padding-top: 8rem;
    }
    .popular__title{
        font-size: 1.9rem;
    }
}