.offer__container{
    grid-template-rows: max-content 224px;
    position: relative;
    padding: 6rem 4rem 4rem 4rem;
}

.offer__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.offer__data,.offer__img{
    position: relative;
}

.offer__data{
    text-align: center;
}

.offer__img{
    /* position: absolute; */
    min-width: initial;
    width: 400px;
    top: 2rem;
    /* right: -5.5rem; */
    margin: 0 auto;
}

@media only screen and (min-width: 768px){
    .offer__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .offer__data,.offer__img{
        width: 400px;
        margin: 0 4rem;
    }
    .offer__data, .offer__data .popular__title{
        text-align:left;
    }
    .offer__data .popular__title{
        font-size: 1.5rem;
    }
}